@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.btn-fvc{
	background-color: #01633E;
	color: white;
	border-color: #007549;
	margin-top: 20px;
	float: right;
}

.btn-fvc:hover{
	background-color: #007549;
	color: #e9e9e9;
	border-color: #007549;
}

.bg-fvc{
	background-color: #01633E;
	display: flex;
	align-items: center;
	justify-content: right;
}

.color-fvc{
	
}
#form_inscricao{
	max-width: 600px;
	background-color: #f5f6fa;
}

body{
	background: url('../img/background.png') center;
}

nav{
	height: 85px;
	background-color: rgba(245, 246, 250,0.6);
	width: 100%;
}

nav img{
	height: 50px;
}

#inscricao {
	padding-left: 300px;

}

.direito{
	width: 350px;
}

#subscribe{
	margin-left: 127px;
}

#MyModal{
	color: #000000;
}

.codigobarras img{ 
	float:left; 
}	

.codigobarras{
	font-family: 'Roboto', sans-serif;
  font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.list{
	float: right;
}

.lista{
	font-family: 'Roboto', sans-serif;
}

p.creditos{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 50px;
	color: #333333;
	font-weight: bold;
	font-size: 10pt;
}

@media screen and (max-width: 568px) {
	img{
		height: 34px!important;
		margin-top: 7px;
	}

	.footer {
		display: grid;
		text-align: center!important;
		
	}
	.footer button{
		margin-bottom: 10px;
	}

  }
